<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-ACPI-Debug</string>
	<key>CFBundleGetInfoString</key>
	<string>${MODULE_VERSION}, Copyright © 2013 RehabMan. All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Debug</key>
		<dict>
			<key>RM,Version</key>
			<string>${PRODUCT_NAME} ${MODULE_VERSION}</string>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>org_rehabman_ACPIDebug</string>
			<key>IONameMatch</key>
			<string>RMD0000</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>PollingInterval</key>
			<string>100</string>
			<key>dbg0</key>
			<integer>0</integer>
			<key>dbg1</key>
			<integer>0</integer>
			<key>dbg2</key>
			<integer>0</integer>
			<key>dbg3</key>
			<integer>0</integer>
			<key>dbg4</key>
			<integer>0</integer>
			<key>dbg5</key>
			<integer>0</integer>
			<key>dbg6</key>
			<integer>0</integer>
			<key>dbg7</key>
			<integer>0</integer>
			<key>dbg8</key>
			<integer>0</integer>
			<key>dbg9</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 RehabMan. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
